
.vs/twitchtestmod/v16/Server/sqlite3/db.lock
.vs/twitchtestmod/DesignTimeBuild/.dtbcache.v2
.vs/twitchtestmod/v16/.suo
.vs/twitchtestmod/DesignTimeBuild/.dtbcache
.vs/twitchtestmod/v16/Server/sqlite3/storage.ide
.vs/twitchtestmod/v16/Server/sqlite3/storage.ide-shm
.vs/twitchtestmod/v16/Server/sqlite3/storage.ide-wal
bin/Debug/net45/Ionic.Zip.Reduced.dll
bin/Debug/net45/log4net.dll
bin/Debug/net45/Microsoft.Xna.Framework.dll
bin/Debug/net45/Microsoft.Xna.Framework.Game.dll
bin/Debug/net45/Microsoft.Xna.Framework.Graphics.dll
bin/Debug/net45/Microsoft.Xna.Framework.Xact.dll
bin/Debug/net45/Mono.Cecil.dll
bin/Debug/net45/Mono.Cecil.Mdb.dll
bin/Debug/net45/Mono.Cecil.Pdb.dll
bin/Debug/net45/MonoMod.RuntimeDetour.dll
bin/Debug/net45/MonoMod.RuntimeDetour.xml
bin/Debug/net45/MonoMod.Utils.dll
bin/Debug/net45/MonoMod.Utils.xml
bin/Debug/net45/MP3Sharp.dll
bin/Debug/net45/Newtonsoft.Json.dll
bin/Debug/net45/NVorbis.dll
bin/Debug/net45/ProjectT_v0.0.5.dll
bin/Debug/net45/ReLogic.dll
bin/Debug/net45/Steamworks.NET.dll
bin/Debug/net45/System.ValueTuple.dll
bin/Debug/net45/Terraria.exe
bin/Debug/net45/Terraria.pdb
bin/Debug/net45/TerrariaHooks.dll
bin/Debug/net45/Terraria.xml
bin/Debug/net45/twitchtestmod.dll
bin/Debug/net45/twitchtestmod.pdb
bin/Debug/net472/Ionic.Zip.Reduced.dll
bin/Debug/net472/log4net.dll
bin/Debug/net472/Microsoft.Xna.Framework.dll
bin/Debug/net472/Microsoft.Xna.Framework.Game.dll
bin/Debug/net472/Microsoft.Xna.Framework.Graphics.dll
bin/Debug/net472/Microsoft.Xna.Framework.Xact.dll
bin/Debug/net472/Mono.Cecil.Pdb.dll
bin/Debug/net472/Mono.Cecil.dll
bin/Debug/net472/Mono.Cecil.Mdb.dll
bin/Debug/net472/MonoMod.RuntimeDetour.dll
bin/Debug/net472/MonoMod.RuntimeDetour.xml
bin/Debug/net472/MonoMod.Utils.dll
bin/Debug/net472/MonoMod.Utils.xml
bin/Debug/net472/Newtonsoft.Json.dll
bin/Debug/net472/MP3Sharp.dll
bin/Debug/net472/NVorbis.dll
bin/Debug/net472/ProjectT_v0.3.0.dll
bin/Debug/net472/ReLogic.dll
bin/Debug/net472/Steamworks.NET.dll
bin/Debug/net472/Terraria.pdb
bin/Debug/net472/Terraria.xml
bin/Debug/net472/Terraria.exe
bin/Debug/net472/TerrariaHooks.dll
bin/Debug/net472/twitchtestmod.dll
bin/Debug/net472/twitchtestmod.pdb
Properties/launchSettings.json
obj/twitchtestmod.csproj.nuget.g.targets
obj/twitchtestmod.csproj.nuget.g.props
obj/twitchtestmod.csproj.nuget.dgspec.json
obj/twitchtestmod.csproj.nuget.cache
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net472/twitchtestmod.pdb
obj/Debug/net472/twitchtestmod.dll
obj/Debug/net472/twitchtestmod.csproj.FileListAbsolute.txt
obj/Debug/net472/twitchtestmod.csprojAssemblyReference.cache
obj/Debug/net472/twitchtestmod.csproj.CoreCompileInputs.cache
obj/Debug/net472/twitchtestmod.csproj.CopyComplete
obj/Debug/net472/twitchtestmod.assets.cache
obj/Debug/net45/twitchtestmod.pdb
obj/Debug/net45/twitchtestmod.csprojAssemblyReference.cache
obj/Debug/net45/twitchtestmod.dll
obj/Debug/net45/twitchtestmod.csproj.FileListAbsolute.txt
obj/Debug/net45/twitchtestmod.csproj.CopyComplete
obj/Debug/net45/twitchtestmod.assets.cache
obj/Debug/net45/twitchtestmod.AssemblyInfoInputs.cache
obj/Debug/net45/twitchtestmod.AssemblyInfo.cs
bin/Debug/net472/tModLoader.exe
bin/Debug/net472/tModLoader.exe
bin/Debug/net472/tModLoader.xml
bin/Debug/net472/tModLoader.exe
